{% extends 'appcoder/index.html' %} <!-- Cambia a la base que uses en tu proyecto -->

{% block title %}Lista de Alumnos{% endblock %}

{% block contenidoQueCambia %}
<h2>Lista de Docentes </h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo Electronico</th>
            <th>Profesion</th>
        </tr>
    </thead>
    <tbody>
        {% for docente in docentes %}
        <tr>
            <td>{{ docente.nombre }}</td>
            <td>{{ docente.apellido }}</td>
            <td>{{ docente.email }}</td>
            <td>{{ docente.profesion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}